{% extends 'main/base.html' %}

{% block title %}Каталог - Магазин электроники{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center mb-4">Каталог товаров</h1>
        <div class="row">
            {% include 'main/product_card.html' with title="Смартфон" price="29999" image="phone.jpg" %}
            {% include 'main/product_card.html' with title="Ноутбук" price="49999" image="laptop.jpg" %}
            {% include 'main/product_card.html' with title="Планшет" price="19999" image="tablet.jpg" %}
            {% include 'main/product_card.html' with title="Наушники" price="4999" image="headphones.jpg" %}
            {% include 'main/product_card.html' with title="Умные часы" price="9999" image="smartwatch.jpg" %}
            {% include 'main/product_card.html' with title="Телевизор" price="39999" image="tv.jpg" %}
        </div>
    </div>
</div>
{% endblock %} 