{% extends 'main/base.html' %}

{% block title %}Контакты - Магазин электроники{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center mb-4">Контакты</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Наши контакты</h5>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Адрес:</h6>
                        <p>ул. Электронная, 123<br>г. Москва, 123456</p>
                        
                        <h6>Телефон:</h6>
                        <p>+7 (999) 123-45-67</p>
                        
                        <h6>Email:</h6>
                        <p>info@electronics.ru</p>
                    </div>
                    <div class="col-md-6">
                        <h6>Режим работы:</h6>
                        <p>Пн-Пт: 9:00 - 20:00<br>Сб: 10:00 - 18:00<br>Вс: Выходной</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 